<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="icon" href="/public/images/lo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/Agenda.css">
</head>

<body>
    <%- include('navbar'); -%>
    <div id="title" class="center">
        <!-- <h1>2024</h1> -->
        <h2 style="color: rgb(151,158,134); font-size: 34px;">Cycle Annuel de Croissance et de Développement des olives</h2>
    </div>

    <div class="calendar-frame center">
        <!-- <div class="day-frame placeholder"></div> -->
        <!-- <div class="day-frame placeholder"></div> -->
        <% for(let i=0; i < data.length; i++) { %>
            <div class="day-frame center real" data-title="<%= data[i].title %>" data-time="<%= data[i].date %>"
                data-description="<%= data[i].description %>" >
                <img  src=<%=data[i].image %> />
                <h2 class="day-number"> 
                    <%= data[i].id %>
                </h2>
                <div class="day-label center">
                    <%= data[i].title %>
                </div>
            </div>
            <% } %>
    </div>

    <!-- Pop-up Modal -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <p id="popup-time"></p>
            <h2 id="popup-title"></h2>
            <p id="popup-description"></p>
        </div>
    </div>
    <script src="/script.js"></script>
</body>

</html>